# Input data/DB dump

In [1]:
train_example_data = [
    #index, id, pos, shape, length, size, roof, wheels, loadshape, loadnum
    (1, 1, 1, "rectangle", "short", "not_double", "none", 2, "circle", 1),
    (2, 1, 2, "rectangle", "long", "not_double", "none", 3, "hexagon", 1),
    (3, 1, 3, "rectangle", "short", "not_double", "peaked", 2, "triangle", 1),
    (4, 1, 4, "rectangle", "long", "not_double", "none", 2, "rectangle", 3),
    (5, 2, 1, "rectangle", "short", "not_double", "flat", 2, "circle", 2),
    (6, 2, 2, "bucket", "short", "not_double", "none", 2, "rectangle", 1),
    (7, 2, 3, "u_shaped", "short", "not_double", "none", 2, "triangle", 1),
    (8, 3, 1, "rectangle", "long", "not_double", "flat", 3, "triangle", 1),
    (9, 3, 2, "hexagon", "short", "not_double", "flat", 2, "triangle", 1),
    (10, 3, 3, "rectangle", "short", "not_double", "none", 2, "circle", 1),
    (11, 4, 1, "rectangle", "short", "not_double", "none", 2, "rectangle", 1),
    (12, 4, 2, "ellipse", "short", "not_double", "arc", 2, "diamond", 1),
    (13, 4, 3, "rectangle", "short", "double", "none", 2, "triangle", 1),
    (14, 4, 4, "bucket", "short", "not_double", "none", 2, "triangle", 1),
    (15, 5, 1, "rectangle", "short", "not_double", "flat", 2, "circle", 1),
    (16, 5, 2, "rectangle", "long", "not_double", "flat", 3, "rectangle", 1),
    (17, 5, 3, "rectangle", "short", "double", "none", 2, "triangle", 1),
    (18, 6, 1, "rectangle", "long", "not_double", "jagged", 3, "rectangle", 1),
    (19, 6, 2, "hexagon", "short", "not_double", "flat", 2, "circle", 1),
    (20, 6, 3, "rectangle", "short", "not_double", "none", 2, "triangle", 1),
    (21, 6, 4, "rectangle", "long", "not_double", "jagged", 2, "rectangle", 0),
    (22, 7, 1, "rectangle", "long", "not_double", "none", 2, "hexagon", 1),
    (23, 7, 2, "rectangle", "short", "not_double", "none", 2, "rectangle", 1),
    (24, 7, 3, "rectangle", "short", "not_double", "flat", 2, "triangle", 1),
    (25, 8, 1, "rectangle", "short", "not_double", "peaked", 2, "rectangle", 1),
    (26, 8, 2, "bucket", "short", "not_double", "none", 2, "rectangle", 1),
    (27, 8, 3, "rectangle", "long", "not_double", "flat", 2, "circle", 1),
    (28, 8, 4, "rectangle", "short", "not_double", "none", 2, "rectangle", 1),
    (29, 9, 1, "rectangle", "long", "not_double", "none", 2, "rectangle", 3),
    (30, 9, 2, "rectangle", "short", "not_double", "none", 2, "circle", 1),
    (31, 9, 3, "rectangle", "long", "not_double", "jagged", 3, "hexagon", 1),
    (32, 9, 4, "u_shaped", "short", "not_double", "none", 2, "triangle", 1),
    (33, 10, 1, "bucket", "short", "not_double", "none", 2, "triangle", 1),
    (34, 10, 2, "u_shaped", "short", "not_double", "none", 2, "circle", 1),
    (35, 10, 3, "rectangle", "short", "not_double", "none", 2, "triangle", 1),
    (36, 10, 4, "rectangle", "short", "not_double", "none", 2, "triangle", 1),
    (37, 11, 1, "rectangle", "short", "not_double", "none", 2, "triangle", 1),
    (38, 11, 2, "rectangle", "long", "not_double", "flat", 2, "circle", 3),
    (39, 12, 1, "rectangle", "long", "not_double", "jagged", 2, "circle", 0),
    (40, 12, 2, "u_shaped", "short", "not_double", "none", 2, "triangle", 1),
    (41, 12, 3, "rectangle", "short", "double", "none", 2, "circle", 1),
    (42, 13, 1, "u_shaped", "short", "not_double", "none", 2, "circle", 1),
    (43, 13, 2, "rectangle", "long", "not_double", "flat", 3, "rectangle", 1),
    (44, 14, 1, "bucket", "short", "not_double", "none", 2, "circle", 1),
    (45, 14, 2, "rectangle", "short", "not_double", "none", 2, "rectangle", 1),
    (46, 14, 3, "rectangle", "long", "not_double", "jagged", 3, "rectangle", 1),
    (47, 14, 4, "bucket", "short", "not_double", "none", 2, "circle", 1),
    (48, 15, 1, "rectangle", "long", "not_double", "none", 2, "rectangle", 2),
    (49, 15, 2, "u_shaped", "short", "not_double", "none", 2, "rectangle", 1),
    (50, 16, 1, "bucket", "short", "not_double", "none", 2, "rectangle", 1),
    (51, 16, 2, "rectangle", "long", "not_double", "flat", 2, "triangle", 3),
    (52, 17, 1, "rectangle", "long", "not_double", "none", 2, "hexagon", 1),
    (53, 17, 2, "rectangle", "short", "not_double", "none", 2, "circle", 1),
    (54, 17, 3, "rectangle", "short", "double", "none", 2, "circle", 1),
    (55, 17, 4, "rectangle", "long", "not_double", "none", 2, "rectangle", 3),
    (56, 18, 1, "u_shaped", "short", "not_double", "none", 2, "triangle", 1),
    (57, 18, 2, "rectangle", "long", "not_double", "none", 3, "rectangle", 3),
    (58, 19, 1, "rectangle", "long", "not_double", "flat", 3, "rectangle", 3),
    (59, 19, 2, "rectangle", "long", "not_double", "flat", 2, "rectangle", 3),
    (60, 19, 3, "rectangle", "long", "not_double", "none", 2, "rectangle", 0),
    (61, 19, 4, "u_shaped", "short", "not_double", "none", 2, "triangle", 1),
    (62, 20, 1, "rectangle", "long", "not_double", "flat", 3, "hexagon", 1),
    (63, 20, 2, "u_shaped", "short", "not_double", "none", 2, "triangle", 1),
]

## Create dataset and template

In [2]:
from neuralogic.core import R, Template, V, C
from neuralogic.dataset import Dataset


dataset = Dataset()
template = Template()

# Naive trains - one big example

# fmt: off

shapes = [C.ellipse, C.rectangle, C.bucket, C.hexagon, C.u_shaped]
roofs = [C.jagged, C.arc, C.none, C.flat, C.peaked]
loadshapes = [C.hexagon, C.triangle, C.diamond, C.rectangle, C.circle]
vagon_atoms = [R.shape, R.length, R.sides, R.wheels, R.loadnum, R.loadshape, R.roof]

template.add_rules(
    [
        *[R.shape(V.X, V.Y) <= R.shape(V.X, V.Y, s)[1,] for s in shapes],
        *[R.length(V.X, V.Y) <= R.length(V.X, V.Y, s)[1,] for s in [C.short, C.long]],
        *[R.sides(V.X, V.Y) <= R.sides(V.X, V.Y, s)[1,] for s in [C.not_double, C.double]],
        *[R.roof(V.X, V.Y) <= R.roof(V.X, V.Y, s)[1,] for s in roofs],
        *[R.wheels(V.X, V.Y) <= R.wheels(V.X, V.Y, s)[1,] for s in [2, 3]],
        *[R.loadnum(V.X, V.Y) <= R.loadnum(V.X, V.Y, s)[1,] for s in [0, 1, 2, 3]],
        *[R.loadshape(V.X, V.Y) <= R.loadshape(V.X, V.Y, s)[1,] for s in loadshapes],
        R.vagon(V.X, V.Y) <= (atom(V.X, V.Y)[1,] for atom in vagon_atoms),
        *[R.train(V.X) <= R.vagon(V.X, i)[1,] for i in [1, 2, 3, 4]],
        R.direction(V.X) <= R.train(V.X)[1,],
    ]
)

dataset.add_example(
    [
        atom
        for _, id, pos, shape, length, sides, roof, wheels, load, loadnum in train_example_data
        for atom in [
            R.shape(id, pos, shape),
            R.length(id, pos, length),
            R.sides(id, pos, sides),
            R.roof(id, pos, roof),
            R.wheels(id, pos, wheels),
            R.loadshape(id, pos, load),
            R.loadnum(id, pos, loadnum),
        ]
    ]
)

dataset.add_queries(
    [*[R.direction(i)[1.0] for i in range(1, 11)], *[R.direction(i)[-1.0] for i in range(11, 21)]]
)

## Training model

In [3]:
from neuralogic.nn import get_evaluator
from neuralogic.core import Backend, Settings
from neuralogic.optim import SGD


settings = Settings(optimizer=SGD(), epochs=300)
neuralogic_evaluator = get_evaluator(template, settings, Backend.JAVA)

In [4]:
printouts = 10

for epoch, (total_loss, seen_instances) in enumerate(neuralogic_evaluator.train(dataset)):
    if epoch % printouts == 0:
        print(
            f"Epoch {epoch}, total loss: {total_loss}, instances: {seen_instances}, average loss {total_loss / seen_instances}"
        )

Epoch 0, total loss: 20.73746566395193, instances: 20, average loss 1.0368732831975964
Epoch 10, total loss: 15.39790426772742, instances: 20, average loss 0.769895213386371
Epoch 20, total loss: 12.121475153433016, instances: 20, average loss 0.6060737576716508
Epoch 30, total loss: 5.576216315520581, instances: 20, average loss 0.27881081577602906
Epoch 40, total loss: 4.5315449393850065, instances: 20, average loss 0.22657724696925033
Epoch 50, total loss: 4.0625388600251, instances: 20, average loss 0.203126943001255
Epoch 60, total loss: 1.727312902114877, instances: 20, average loss 0.08636564510574385
Epoch 70, total loss: 1.5458698547495209, instances: 20, average loss 0.07729349273747604
Epoch 80, total loss: 1.459613310911036, instances: 20, average loss 0.0729806655455518
Epoch 90, total loss: 1.4048740626025689, instances: 20, average loss 0.07024370313012844
Epoch 100, total loss: 1.366613658862665, instances: 20, average loss 0.06833068294313324
Epoch 110, total loss: 1.3382546448310648, instances: 20, average loss 0.06691273224155324
Epoch 120, total loss: 1.316339728957553, instances: 20, average loss 0.06581698644787765
Epoch 130, total loss: 1.2988680163379072, instances: 20, average loss 0.06494340081689536
Epoch 140, total loss: 1.2845969990342099, instances: 20, average loss 0.0642298499517105
Epoch 150, total loss: 1.2727120978756212, instances: 20, average loss 0.06363560489378106
Epoch 160, total loss: 1.2626558015435796, instances: 20, average loss 0.06313279007717898
Epoch 170, total loss: 1.2540329822992962, instances: 20, average loss 0.06270164911496481
Epoch 180, total loss: 1.246555397456473, instances: 20, average loss 0.062327769872823645
Epoch 190, total loss: 1.2400076155991968, instances: 20, average loss 0.06200038077995984
Epoch 200, total loss: 1.23422526581531, instances: 20, average loss 0.0617112632907655
Epoch 210, total loss: 1.2290806850358922, instances: 20, average loss 0.06145403425179461
Epoch 220, total loss: 1.2244731727731628, instances: 20, average loss 0.06122365863865814
Epoch 230, total loss: 1.2203222078731115, instances: 20, average loss 0.06101611039365558
Epoch 240, total loss: 1.2165626231049238, instances: 20, average loss 0.06082813115524619
Epoch 250, total loss: 1.2131411058835533, instances: 20, average loss 0.06065705529417766
Epoch 260, total loss: 1.210013616939297, instances: 20, average loss 0.06050068084696485
Epoch 270, total loss: 1.2071434568049968, instances: 20, average loss 0.06035717284024984
Epoch 280, total loss: 1.2044997974905542, instances: 20, average loss 0.060224989874527714
Epoch 290, total loss: 1.2020565534709609, instances: 20, average loss 0.06010282767354804

In [6]:
labels = [*[1.0 for i in range(1, 11)], *[-1.0 for i in range(11, 21)]]

for label, predicted in zip(labels, neuralogic_evaluator.test(dataset)):
    print(f"Label: {label}, predicted: {predicted}")

Label: 1.0, predicted: 0.7571375391530454
Label: 1.0, predicted: 0.7513804352813493
Label: 1.0, predicted: 0.7444302455409113
Label: 1.0, predicted: 0.7603554569867671
Label: 1.0, predicted: 0.7513357091503825
Label: 1.0, predicted: 0.7608383694159078
Label: 1.0, predicted: 0.7481905796576022
Label: 1.0, predicted: 0.7604196539706247
Label: 1.0, predicted: 0.7604927822875589
Label: 1.0, predicted: 0.7576004299238713
Label: -1.0, predicted: -0.7543786332981703
Label: -1.0, predicted: -0.7597604681572971
Label: -1.0, predicted: -0.7533092154694386
Label: -1.0, predicted: -0.7599745688649489
Label: -1.0, predicted: -0.7459621931009629
Label: -1.0, predicted: -0.7533126666626934
Label: -1.0, predicted: -0.7613942229775267
Label: -1.0, predicted: -0.7527560884283334
Label: -1.0, predicted: -0.7572908867285715
Label: -1.0, predicted: -0.7531156113021719

## Creating convertor

Each `TableMapping` maps a predicate to a table and columns.
E.g., `TableMapping("shape", "trains", ["id", "pos", "shape"])` maps `R.shape(V.X, V.Y, V.Z)` to the `trains` table and its terms to columns `id`, `pos`, and `shape`.

In [8]:
from neuralogic.db import PostgresConverter, TableMapping

mappings = [
    TableMapping("shape", "trains", ["id", "pos", "shape"]),
    TableMapping("length", "trains", ["id", "pos", "length"]),
    TableMapping("sides", "trains", ["id", "pos", "side"]),
    TableMapping("roof", "trains", ["id", "pos", "roof"]),
    TableMapping("wheels", "trains", ["id", "pos", "wheels"]),
    TableMapping("loadshape", "trains", ["id", "pos", "loadshape"]),
    TableMapping("loadnum", "trains", ["id", "pos", "loadnum"]),
]

converter = PostgresConverter(neuralogic_evaluator.model, mappings, neuralogic_evaluator.settings)

## Printing all used helper functions (activations, aggregations, etc.)

In [9]:
print(converter.get_std_functions())

CREATE SCHEMA IF NOT EXISTS neuralogic_std;CREATE SCHEMA IF NOT EXISTS neuralogic;
CREATE OR REPLACE FUNCTION neuralogic_std.sum(in_a NUMERIC, in_b NUMERIC) RETURNS NUMERIC AS
$$
SELECT (in_a + in_b)::NUMERIC
$$
LANGUAGE SQL IMMUTABLE;
CREATE OR REPLACE FUNCTION neuralogic_std.sum(in_a NUMERIC, in_b NUMERIC[]) RETURNS NUMERIC[] AS
$$
SELECT array_agg(in_a + un_b) FROM unnest(in_b) as un_b
$$
LANGUAGE SQL IMMUTABLE;
CREATE OR REPLACE FUNCTION neuralogic_std.sum(in_b NUMERIC[], in_a NUMERIC) RETURNS NUMERIC[] AS
$$
SELECT neuralogic_std.sum(in_a, in_b)
$$
LANGUAGE SQL IMMUTABLE;
CREATE OR REPLACE FUNCTION neuralogic_std.sum(in_a NUMERIC[], in_b NUMERIC[]) RETURNS NUMERIC AS
$$
SELECT SUM(un_a + un_b)::NUMERIC FROM unnest(in_a, in_b) as t(un_a, un_b)
$$
LANGUAGE SQL IMMUTABLE;
CREATE OR REPLACE FUNCTION neuralogic_std.tanh(in_a NUMERIC[]) RETURNS NUMERIC[] AS
$$
SELECT array_agg(tanh(un_a)) FROM unnest(in_a) as un_a
$$
LANGUAGE SQL IMMUTABLE;
CREATE OR REPLACE FUNCTION neuralogic_std.tanh(in_a NUMERIC) RETURNS NUMERIC AS
$$
SELECT tanh(in_a)
$$
LANGUAGE SQL IMMUTABLE;
CREATE OR REPLACE FUNCTION neuralogic_std.mul(in_a NUMERIC, in_b NUMERIC) RETURNS NUMERIC AS
$$
SELECT (in_a * in_b)::NUMERIC
$$
LANGUAGE SQL IMMUTABLE;
CREATE OR REPLACE FUNCTION neuralogic_std.mul(in_a NUMERIC, in_b NUMERIC[]) RETURNS NUMERIC[] AS
$$
SELECT array_agg(in_a * un_b) FROM unnest(in_b) as un_b
$$
LANGUAGE SQL IMMUTABLE;
CREATE OR REPLACE FUNCTION neuralogic_std.mul(in_b NUMERIC[], in_a NUMERIC) RETURNS NUMERIC[] AS
$$
SELECT neuralogic_std.mul(in_a, in_b)
$$
LANGUAGE SQL IMMUTABLE;
CREATE OR REPLACE FUNCTION neuralogic_std.mul(in_a NUMERIC[], in_b NUMERIC[]) RETURNS NUMERIC AS
$$
SELECT SUM(un_a * un_b)::NUMERIC FROM unnest(in_a, in_b) as t(un_a, un_b)
$$
LANGUAGE SQL IMMUTABLE;

## Printing functions source for evaluation of the model in SQL (except for helper functions)

In [11]:
print(converter.to_sql())

CREATE OR REPLACE FUNCTION neuralogic.shape(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT 1,'1','1'
$$ LANGUAGE SQL VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic.length(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT 1,'1','1'
$$ LANGUAGE SQL VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic.sides(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT 1,'1','1'
$$ LANGUAGE SQL VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic.roof(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT 1,'1','1'
$$ LANGUAGE SQL VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic.wheels(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT 1,'1','1'
$$ LANGUAGE SQL VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic.loadnum(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT 1,'1','1'
$$ LANGUAGE SQL VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic.loadshape(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT 1,'1','1'
$$ LANGUAGE SQL VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic.vagon(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT 1,'1','1'
$$ LANGUAGE SQL VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic.train(p0 TEXT) RETURNS Table(value NUMERIC,t0 TEXT) AS $$
SELECT 1,'1'
$$ LANGUAGE SQL VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic.direction(p0 TEXT) RETURNS Table(value NUMERIC,t0 TEXT) AS $$
SELECT 1,'1'
$$ LANGUAGE SQL VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic._shape_2_0(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(0.9955214434766815, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.shape::TEXT = 'ellipse') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._shape_2_1(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.pos::TEXT AS t1, s0.id::TEXT AS t0, neuralogic_std.mul(-0.9431785927375718, 1) as value FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.shape::TEXT = 'rectangle') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._shape_2_2(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(0.36144219326310595, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.shape::TEXT = 'bucket') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._shape_2_3(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(0.5527600447960253, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.shape::TEXT = 'hexagon') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._shape_2_4(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(0.49241300644121705, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.shape::TEXT = 'u_shaped') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._shape_2(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT neuralogic_std.tanh(SUM(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.value as value, s0.t0, s0.t1 FROM neuralogic._shape_2_0(p0,p1) as s0 UNION ALL SELECT s1.value as value, s1.t0, s1.t1 FROM neuralogic._shape_2_1(p0,p1) as s1 UNION ALL SELECT s2.value as value, s2.t0, s2.t1 FROM neuralogic._shape_2_2(p0,p1) as s2 UNION ALL SELECT s3.value as value, s3.t0, s3.t1 FROM neuralogic._shape_2_3(p0,p1) as s3 UNION ALL SELECT s4.value as value, s4.t0, s4.t1 FROM neuralogic._shape_2_4(p0,p1) as s4) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic.shape(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
BEGIN CREATE TEMPORARY TABLE IF NOT EXISTS __neuralogic___tmp_shape_2 ON COMMIT DROP AS SELECT * FROM neuralogic._shape_2(NULL,NULL); RETURN QUERY SELECT * FROM __neuralogic___tmp_shape_2 as out WHERE out.t0 LIKE COALESCE(p0, '%') AND out.t1 LIKE COALESCE(p1, '%'); RETURN; END;
$$ LANGUAGE plpgsql VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic._length_2_0(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(0.013692717174264601, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.length::TEXT = 'short') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._length_2_1(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(0.8580683372354482, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.length::TEXT = 'long') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._length_2(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT neuralogic_std.tanh(SUM(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.value as value, s0.t0, s0.t1 FROM neuralogic._length_2_0(p0,p1) as s0 UNION ALL SELECT s1.value as value, s1.t0, s1.t1 FROM neuralogic._length_2_1(p0,p1) as s1) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic.length(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
BEGIN CREATE TEMPORARY TABLE IF NOT EXISTS __neuralogic___tmp_length_2 ON COMMIT DROP AS SELECT * FROM neuralogic._length_2(NULL,NULL); RETURN QUERY SELECT * FROM __neuralogic___tmp_length_2 as out WHERE out.t0 LIKE COALESCE(p0, '%') AND out.t1 LIKE COALESCE(p1, '%'); RETURN; END;
$$ LANGUAGE plpgsql VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic._sides_2_0(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(-1.0840571486892445, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.side::TEXT = 'not_double') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._sides_2_1(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(0.6886898243173287, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.side::TEXT = 'double') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._sides_2(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT neuralogic_std.tanh(SUM(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.value as value, s0.t0, s0.t1 FROM neuralogic._sides_2_0(p0,p1) as s0 UNION ALL SELECT s1.value as value, s1.t0, s1.t1 FROM neuralogic._sides_2_1(p0,p1) as s1) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic.sides(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
BEGIN CREATE TEMPORARY TABLE IF NOT EXISTS __neuralogic___tmp_sides_2 ON COMMIT DROP AS SELECT * FROM neuralogic._sides_2(NULL,NULL); RETURN QUERY SELECT * FROM __neuralogic___tmp_sides_2 as out WHERE out.t0 LIKE COALESCE(p0, '%') AND out.t1 LIKE COALESCE(p1, '%'); RETURN; END;
$$ LANGUAGE plpgsql VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic._roof_2_0(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(-0.00897678233698849, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.roof::TEXT = 'jagged') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._roof_2_1(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(0.3128846376890143, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.roof::TEXT = 'arc') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._roof_2_2(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.pos::TEXT AS t1, s0.id::TEXT AS t0, neuralogic_std.mul(0.6849904084869944, 1) as value FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.roof::TEXT = 'none') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._roof_2_3(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(0.9771596908045438, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.roof::TEXT = 'flat') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._roof_2_4(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(0.3347156522701173, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.roof::TEXT = 'peaked') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._roof_2(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT neuralogic_std.tanh(SUM(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.value as value, s0.t0, s0.t1 FROM neuralogic._roof_2_0(p0,p1) as s0 UNION ALL SELECT s1.value as value, s1.t0, s1.t1 FROM neuralogic._roof_2_1(p0,p1) as s1 UNION ALL SELECT s2.value as value, s2.t0, s2.t1 FROM neuralogic._roof_2_2(p0,p1) as s2 UNION ALL SELECT s3.value as value, s3.t0, s3.t1 FROM neuralogic._roof_2_3(p0,p1) as s3 UNION ALL SELECT s4.value as value, s4.t0, s4.t1 FROM neuralogic._roof_2_4(p0,p1) as s4) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic.roof(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
BEGIN CREATE TEMPORARY TABLE IF NOT EXISTS __neuralogic___tmp_roof_2 ON COMMIT DROP AS SELECT * FROM neuralogic._roof_2(NULL,NULL); RETURN QUERY SELECT * FROM __neuralogic___tmp_roof_2 as out WHERE out.t0 LIKE COALESCE(p0, '%') AND out.t1 LIKE COALESCE(p1, '%'); RETURN; END;
$$ LANGUAGE plpgsql VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic._wheels_2_0(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(0.6615346111153075, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.wheels::TEXT = '2') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._wheels_2_1(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.pos::TEXT AS t1, s0.id::TEXT AS t0, neuralogic_std.mul(-0.7435882233357087, 1) as value FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.wheels::TEXT = '3') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._wheels_2(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT neuralogic_std.tanh(SUM(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.value as value, s0.t0, s0.t1 FROM neuralogic._wheels_2_0(p0,p1) as s0 UNION ALL SELECT s1.value as value, s1.t0, s1.t1 FROM neuralogic._wheels_2_1(p0,p1) as s1) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic.wheels(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
BEGIN CREATE TEMPORARY TABLE IF NOT EXISTS __neuralogic___tmp_wheels_2 ON COMMIT DROP AS SELECT * FROM neuralogic._wheels_2(NULL,NULL); RETURN QUERY SELECT * FROM __neuralogic___tmp_wheels_2 as out WHERE out.t0 LIKE COALESCE(p0, '%') AND out.t1 LIKE COALESCE(p1, '%'); RETURN; END;
$$ LANGUAGE plpgsql VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic._loadnum_2_0(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(1.0876816601782988, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.loadnum::TEXT = '0') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._loadnum_2_1(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(-0.7000925167508262, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.loadnum::TEXT = '1') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._loadnum_2_2(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(-0.7498690157927197, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.loadnum::TEXT = '2') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._loadnum_2_3(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.pos::TEXT AS t1, s0.id::TEXT AS t0, neuralogic_std.mul(-0.21996577200300754, 1) as value FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.loadnum::TEXT = '3') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._loadnum_2(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT neuralogic_std.tanh(SUM(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.value as value, s0.t0, s0.t1 FROM neuralogic._loadnum_2_0(p0,p1) as s0 UNION ALL SELECT s1.value as value, s1.t0, s1.t1 FROM neuralogic._loadnum_2_1(p0,p1) as s1 UNION ALL SELECT s2.value as value, s2.t0, s2.t1 FROM neuralogic._loadnum_2_2(p0,p1) as s2 UNION ALL SELECT s3.value as value, s3.t0, s3.t1 FROM neuralogic._loadnum_2_3(p0,p1) as s3) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic.loadnum(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
BEGIN CREATE TEMPORARY TABLE IF NOT EXISTS __neuralogic___tmp_loadnum_2 ON COMMIT DROP AS SELECT * FROM neuralogic._loadnum_2(NULL,NULL); RETURN QUERY SELECT * FROM __neuralogic___tmp_loadnum_2 as out WHERE out.t0 LIKE COALESCE(p0, '%') AND out.t1 LIKE COALESCE(p1, '%'); RETURN; END;
$$ LANGUAGE plpgsql VOLATILE;
CREATE OR REPLACE FUNCTION neuralogic._loadshape_2_0(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.pos::TEXT AS t1, s0.id::TEXT AS t0, neuralogic_std.mul(0.21703109276397642, 1) as value FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.loadshape::TEXT = 'hexagon') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._loadshape_2_1(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.pos::TEXT AS t1, s0.id::TEXT AS t0, neuralogic_std.mul(1.4191559417572475, 1) as value FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.loadshape::TEXT = 'triangle') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._loadshape_2_2(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(-0.9052276920919722, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.loadshape::TEXT = 'diamond') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._loadshape_2_3(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(-1.014706506513651, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.loadshape::TEXT = 'rectangle') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._loadshape_2_4(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT AVG(neuralogic_std.tanh(out.value)) as value, out.t0, out.t1 FROM (SELECT neuralogic_std.mul(-0.3344349358972987, 1) as value, s0.pos::TEXT AS t1, s0.id::TEXT AS t0 FROM trains AS s0 WHERE s0.id::TEXT LIKE COALESCE(p0, '%') AND s0.pos::TEXT LIKE COALESCE(p1, '%') AND s0.loadshape::TEXT = 'circle') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic._loadshape_2(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$
SELECT neuralogic_std.tanh(SUM(out.value)) as value, out.t0, out.t1 FROM (SELECT s0.value as value, s0.t0, s0.t1 FROM neuralogic._loadshape_2_0(p0,p1) as s0 UNION ALL SELECT s1.value as value, s1.t0, s1.t1 FROM neuralogic._loadshape_2_1(p0,p1) as s1 UNION ALL SELECT s2.value as value, s2.t0, s2.t1 FROM neuralogic._loadshape_2_2(p0,p1) as s2 UNION ALL SELECT s3.value as value, s3.t0, s3.t1 FROM neuralogic._loadshape_2_3(p0,p1) as s3 UNION ALL SELECT s4.value as value, s4.t0, s4.t1 FROM neuralogic._loadshape_2_4(p0,p1) as s4) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION neuralogic.loadshape(p0 TEXT,p1 TEXT) RETURNS Table(value NUMERIC,t0 TEXT,t1 TEXT) AS $$