# Input data/DB dump

In [1]:
train_example_data = [
    #index, id, pos, shape, length, size, roof, wheels, loadshape, loadnum
    (1, 1, 1, "rectangle", "short", "not_double", "none", 2, "circle", 1),
    (2, 1, 2, "rectangle", "long", "not_double", "none", 3, "hexagon", 1),
    (3, 1, 3, "rectangle", "short", "not_double", "peaked", 2, "triangle", 1),
    (4, 1, 4, "rectangle", "long", "not_double", "none", 2, "rectangle", 3),
    (5, 2, 1, "rectangle", "short", "not_double", "flat", 2, "circle", 2),
    (6, 2, 2, "bucket", "short", "not_double", "none", 2, "rectangle", 1),
    (7, 2, 3, "u_shaped", "short", "not_double", "none", 2, "triangle", 1),
    (8, 3, 1, "rectangle", "long", "not_double", "flat", 3, "triangle", 1),
    (9, 3, 2, "hexagon", "short", "not_double", "flat", 2, "triangle", 1),
    (10, 3, 3, "rectangle", "short", "not_double", "none", 2, "circle", 1),
    (11, 4, 1, "rectangle", "short", "not_double", "none", 2, "rectangle", 1),
    (12, 4, 2, "ellipse", "short", "not_double", "arc", 2, "diamond", 1),
    (13, 4, 3, "rectangle", "short", "double", "none", 2, "triangle", 1),
    (14, 4, 4, "bucket", "short", "not_double", "none", 2, "triangle", 1),
    (15, 5, 1, "rectangle", "short", "not_double", "flat", 2, "circle", 1),
    (16, 5, 2, "rectangle", "long", "not_double", "flat", 3, "rectangle", 1),
    (17, 5, 3, "rectangle", "short", "double", "none", 2, "triangle", 1),
    (18, 6, 1, "rectangle", "long", "not_double", "jagged", 3, "rectangle", 1),
    (19, 6, 2, "hexagon", "short", "not_double", "flat", 2, "circle", 1),
    (20, 6, 3, "rectangle", "short", "not_double", "none", 2, "triangle", 1),
    (21, 6, 4, "rectangle", "long", "not_double", "jagged", 2, "rectangle", 0),
    (22, 7, 1, "rectangle", "long", "not_double", "none", 2, "hexagon", 1),
    (23, 7, 2, "rectangle", "short", "not_double", "none", 2, "rectangle", 1),
    (24, 7, 3, "rectangle", "short", "not_double", "flat", 2, "triangle", 1),
    (25, 8, 1, "rectangle", "short", "not_double", "peaked", 2, "rectangle", 1),
    (26, 8, 2, "bucket", "short", "not_double", "none", 2, "rectangle", 1),
    (27, 8, 3, "rectangle", "long", "not_double", "flat", 2, "circle", 1),
    (28, 8, 4, "rectangle", "short", "not_double", "none", 2, "rectangle", 1),
    (29, 9, 1, "rectangle", "long", "not_double", "none", 2, "rectangle", 3),
    (30, 9, 2, "rectangle", "short", "not_double", "none", 2, "circle", 1),
    (31, 9, 3, "rectangle", "long", "not_double", "jagged", 3, "hexagon", 1),
    (32, 9, 4, "u_shaped", "short", "not_double", "none", 2, "triangle", 1),
    (33, 10, 1, "bucket", "short", "not_double", "none", 2, "triangle", 1),
    (34, 10, 2, "u_shaped", "short", "not_double", "none", 2, "circle", 1),
    (35, 10, 3, "rectangle", "short", "not_double", "none", 2, "triangle", 1),
    (36, 10, 4, "rectangle", "short", "not_double", "none", 2, "triangle", 1),
    (37, 11, 1, "rectangle", "short", "not_double", "none", 2, "triangle", 1),
    (38, 11, 2, "rectangle", "long", "not_double", "flat", 2, "circle", 3),
    (39, 12, 1, "rectangle", "long", "not_double", "jagged", 2, "circle", 0),
    (40, 12, 2, "u_shaped", "short", "not_double", "none", 2, "triangle", 1),
    (41, 12, 3, "rectangle", "short", "double", "none", 2, "circle", 1),
    (42, 13, 1, "u_shaped", "short", "not_double", "none", 2, "circle", 1),
    (43, 13, 2, "rectangle", "long", "not_double", "flat", 3, "rectangle", 1),
    (44, 14, 1, "bucket", "short", "not_double", "none", 2, "circle", 1),
    (45, 14, 2, "rectangle", "short", "not_double", "none", 2, "rectangle", 1),
    (46, 14, 3, "rectangle", "long", "not_double", "jagged", 3, "rectangle", 1),
    (47, 14, 4, "bucket", "short", "not_double", "none", 2, "circle", 1),
    (48, 15, 1, "rectangle", "long", "not_double", "none", 2, "rectangle", 2),
    (49, 15, 2, "u_shaped", "short", "not_double", "none", 2, "rectangle", 1),
    (50, 16, 1, "bucket", "short", "not_double", "none", 2, "rectangle", 1),
    (51, 16, 2, "rectangle", "long", "not_double", "flat", 2, "triangle", 3),
    (52, 17, 1, "rectangle", "long", "not_double", "none", 2, "hexagon", 1),
    (53, 17, 2, "rectangle", "short", "not_double", "none", 2, "circle", 1),
    (54, 17, 3, "rectangle", "short", "double", "none", 2, "circle", 1),
    (55, 17, 4, "rectangle", "long", "not_double", "none", 2, "rectangle", 3),
    (56, 18, 1, "u_shaped", "short", "not_double", "none", 2, "triangle", 1),
    (57, 18, 2, "rectangle", "long", "not_double", "none", 3, "rectangle", 3),
    (58, 19, 1, "rectangle", "long", "not_double", "flat", 3, "rectangle", 3),
    (59, 19, 2, "rectangle", "long", "not_double", "flat", 2, "rectangle", 3),
    (60, 19, 3, "rectangle", "long", "not_double", "none", 2, "rectangle", 0),
    (61, 19, 4, "u_shaped", "short", "not_double", "none", 2, "triangle", 1),
    (62, 20, 1, "rectangle", "long", "not_double", "flat", 3, "hexagon", 1),
    (63, 20, 2, "u_shaped", "short", "not_double", "none", 2, "triangle", 1),
]

## Create dataset and template

In [2]:
from neuralogic.core import R, Template, V, T
from neuralogic.dataset import Dataset


dataset = Dataset()
template = Template()

# Naive trains - one big example

# fmt: off

shapes = [T.ellipse, T.rectangle, T.bucket, T.hexagon, T.u_shaped]
roofs = [T.jagged, T.arc, T.none, T.flat, T.peaked]
loadshapes = [T.hexagon, T.triangle, T.diamond, T.rectangle, T.circle]
vagon_atoms = [R.shape, R.length, R.sides, R.wheels, R.loadnum, R.loadshape, R.roof]

template.add_rules(
    [
        *[R.shape(V.X, V.Y) <= R.shape(V.X, V.Y, s)[1,] for s in shapes],
        *[R.length(V.X, V.Y) <= R.length(V.X, V.Y, s)[1,] for s in [T.short, T.long]],
        *[R.sides(V.X, V.Y) <= R.sides(V.X, V.Y, s)[1,] for s in [T.not_double, T.double]],
        *[R.roof(V.X, V.Y) <= R.roof(V.X, V.Y, s)[1,] for s in roofs],
        *[R.wheels(V.X, V.Y) <= R.wheels(V.X, V.Y, s)[1,] for s in [2, 3]],
        *[R.loadnum(V.X, V.Y) <= R.loadnum(V.X, V.Y, s)[1,] for s in [0, 1, 2, 3]],
        *[R.loadshape(V.X, V.Y) <= R.loadshape(V.X, V.Y, s)[1,] for s in loadshapes],
        R.vagon(V.X, V.Y) <= (atom(V.X, V.Y)[1,] for atom in vagon_atoms),
        *[R.train(V.X) <= R.vagon(V.X, i)[1,] for i in [1, 2, 3, 4]],
        R.direction(V.X) <= R.train(V.X)[1,],
    ]
)

dataset.add_example(
    [
        atom
        for _, id, pos, shape, length, sides, roof, wheels, load, loadnum in train_example_data
        for atom in [
            R.shape(id, pos, shape),
            R.length(id, pos, length),
            R.sides(id, pos, sides),
            R.roof(id, pos, roof),
            R.wheels(id, pos, wheels),
            R.loadshape(id, pos, load),
            R.loadnum(id, pos, loadnum),
        ]
    ]
)

dataset.add_queries(
    [*[R.direction(i)[1.0] for i in range(1, 11)], *[R.direction(i)[-1.0] for i in range(11, 21)]]
)

## Training model

In [4]:
from neuralogic.nn import get_evaluator
from neuralogic.core import Backend, Settings, Optimizer


settings = Settings(optimizer=Optimizer.SGD, epochs=300)
neuralogic_evaluator = get_evaluator(template, settings, Backend.JAVA)

In [5]:
printouts = 10

for epoch, (total_loss, seen_instances) in enumerate(neuralogic_evaluator.train(dataset)):
    if epoch % printouts == 0:
        print(
            f"Epoch {epoch}, total loss: {total_loss}, instances: {seen_instances}, average loss {total_loss / seen_instances}"
        )

Epoch 0, total loss: 20.989785408910663, instances: 20, average loss 1.0494892704455332
Epoch 10, total loss: 13.977774223232997, instances: 20, average loss 0.6988887111616499
Epoch 20, total loss: 13.214116222567059, instances: 20, average loss 0.6607058111283529
Epoch 30, total loss: 11.093967040602163, instances: 20, average loss 0.5546983520301081
Epoch 40, total loss: 7.8160278452403, instances: 20, average loss 0.390801392262015
Epoch 50, total loss: 7.633640365869712, instances: 20, average loss 0.3816820182934856
Epoch 60, total loss: 7.5423314116770115, instances: 20, average loss 0.37711657058385056
Epoch 70, total loss: 7.485198571077785, instances: 20, average loss 0.37425992855388923
Epoch 80, total loss: 7.444272803571918, instances: 20, average loss 0.37221364017859593
Epoch 90, total loss: 7.410726675912933, instances: 20, average loss 0.37053633379564666
Epoch 100, total loss: 7.375343643956538, instances: 20, average loss 0.3687671821978269
Epoch 110, total loss: 7.285466721111836, instances: 20, average loss 0.36427333605559176
Epoch 120, total loss: 4.5970530391233195, instances: 20, average loss 0.22985265195616597
Epoch 130, total loss: 4.422679278366782, instances: 20, average loss 0.2211339639183391
Epoch 140, total loss: 4.301251220568008, instances: 20, average loss 0.2150625610284004
Epoch 150, total loss: 10.234802306403246, instances: 20, average loss 0.5117401153201623
Epoch 160, total loss: 7.547951576946843, instances: 20, average loss 0.37739757884734215
Epoch 170, total loss: 34.48991253963469, instances: 20, average loss 1.7244956269817344
Epoch 180, total loss: 8.407163531753092, instances: 20, average loss 0.4203581765876546
Epoch 190, total loss: 7.402320160494071, instances: 20, average loss 0.37011600802470357
Epoch 200, total loss: 7.336488849316719, instances: 20, average loss 0.36682444246583595
Epoch 210, total loss: 7.316566160897241, instances: 20, average loss 0.36582830804486205
Epoch 220, total loss: 7.30699749162857, instances: 20, average loss 0.3653498745814285
Epoch 230, total loss: 7.300525437828865, instances: 20, average loss 0.36502627189144327
Epoch 240, total loss: 7.294968182023484, instances: 20, average loss 0.36474840910117423
Epoch 250, total loss: 7.289134576208607, instances: 20, average loss 0.36445672881043034
Epoch 260, total loss: 7.281004309742758, instances: 20, average loss 0.3640502154871379
Epoch 270, total loss: 7.258597273556635, instances: 20, average loss 0.36292986367783175
Epoch 280, total loss: 9.803293869280964, instances: 20, average loss 0.4901646934640482
Epoch 290, total loss: 7.95557740613522, instances: 20, average loss 0.39777887030676096

In [6]:
for label, predicted in neuralogic_evaluator.test(dataset):
    print(f"Label: {label}, predicted: {predicted}")

Label: 1, predicted: 0.7609090920536676
Label: 1, predicted: 0.7564686768123208
Label: 1, predicted: 0.7563228827485412
Label: 1, predicted: 0.7559364389744273
Label: 1, predicted: 0.754354298060522
Label: 1, predicted: 0.7257125492667162
Label: 1, predicted: 0.6440783469563106
Label: 1, predicted: 0.7604929602554595
Label: 1, predicted: 0.7612971863510687
Label: 1, predicted: 0.515858133632114
Label: -1, predicted: -0.7611883881372044
Label: -1, predicted: -0.7606653099474759
Label: -1, predicted: -0.7073054928357824
Label: -1, predicted: -0.7087814458259215
Label: -1, predicted: -0.6022567545438632
Label: -1, predicted: -0.7587613854847984
Label: -1, predicted: -0.7545011531699072
Label: -1, predicted: -0.7611939948558806
Label: -1, predicted: 0.7505352265959037
Label: -1, predicted: -0.6420834616115216

## Creating convertor

Each `TableMapping` maps a predicate to a table and columns.
E.g., `TableMapping("shape", "trains", ["id", "pos", "shape"])` maps `R.shape(V.X, V.Y, V.Z)` to the `trains` table and its terms to columns `id`, `pos`, and `shape`.

In [8]:
from neuralogic.db import PostgresConvertor, TableMapping

mappings = [
    TableMapping("shape", "trains", ["id", "pos", "shape"]),
    TableMapping("length", "trains", ["id", "pos", "length"]),
    TableMapping("sides", "trains", ["id", "pos", "side"]),
    TableMapping("roof", "trains", ["id", "pos", "roof"]),
    TableMapping("wheels", "trains", ["id", "pos", "wheels"]),
    TableMapping("loadshape", "trains", ["id", "pos", "loadshape"]),
    TableMapping("loadnum", "trains", ["id", "pos", "loadnum"]),
]

convertor = PostgresConvertor(neuralogic_evaluator.model, mappings, neuralogic_evaluator.settings)

## Printing all used helper functions (activations, aggregations, etc.)

In [9]:
print(convertor.get_std_functions())

CREATE FUNCTION pynelo_mul(in_a NUMERIC, in_b NUMERIC) RETURNS NUMERIC AS
$$
SELECT (in_a * in_b)::NUMERIC
$$
LANGUAGE SQL IMMUTABLE;

CREATE FUNCTION pynelo_mul(in_a NUMERIC, in_b NUMERIC[]) RETURNS NUMERIC[] AS
$$
SELECT array_agg(in_a * un_b) FROM unnest(in_b) as un_b
$$
LANGUAGE SQL IMMUTABLE;

CREATE FUNCTION pynelo_mul(in_b NUMERIC[], in_a NUMERIC) RETURNS NUMERIC[] AS
$$
SELECT pynelo_mul(in_a, in_b)
$$
LANGUAGE SQL IMMUTABLE;

CREATE FUNCTION pynelo_mul(in_a NUMERIC[], in_b NUMERIC[]) RETURNS NUMERIC AS
$$
SELECT SUM(un_a * un_b)::NUMERIC FROM unnest(in_a, in_b) as t(un_a, un_b)
$$
LANGUAGE SQL IMMUTABLE;



CREATE FUNCTION pynelo_sum(in_a NUMERIC, in_b NUMERIC) RETURNS NUMERIC AS
$$
SELECT (in_a + in_b)::NUMERIC
$$
LANGUAGE SQL IMMUTABLE;

CREATE FUNCTION pynelo_sum(in_a NUMERIC, in_b NUMERIC[]) RETURNS NUMERIC[] AS
$$
SELECT array_agg(in_a + un_b) FROM unnest(in_b) as un_b
$$
LANGUAGE SQL IMMUTABLE;

CREATE FUNCTION pynelo_sum(in_b NUMERIC[], in_a NUMERIC) RETURNS NUMERIC[] AS
$$
SELECT pynelo_sum(in_a, in_b)
$$
LANGUAGE SQL IMMUTABLE;

CREATE FUNCTION pynelo_sum(in_a NUMERIC[], in_b NUMERIC[]) RETURNS NUMERIC AS
$$
SELECT SUM(un_a + un_b)::NUMERIC FROM unnest(in_a, in_b) as t(un_a, un_b)
$$
LANGUAGE SQL IMMUTABLE;


CREATE FUNCTION pynelo_tanh(in_a NUMERIC[]) RETURNS NUMERIC[] AS
$$
SELECT array_agg(tanh(un_a)) FROM unnest(in_a) as un_a
$$
LANGUAGE SQL IMMUTABLE;

CREATE FUNCTION pynelo_tanh(in_a NUMERIC) RETURNS NUMERIC AS
$$
SELECT tanh(in_a)
$$
LANGUAGE SQL IMMUTABLE;

## Printing functions source for evaluation of the model in SQL (except for helper functions)

In [10]:
print(convertor.to_sql())

CREATE OR REPLACE FUNCTION __shape_2_0()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(0.08394149701618696, 1)) as value FROM trains AS s0 WHERE s0.shape = 'ellipse') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __shape_2_1()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(1.1037813846192421, 1)) as value FROM trains AS s0 WHERE s0.shape = 'rectangle') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __shape_2_2()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-0.5528275829086249, 1)) as value FROM trains AS s0 WHERE s0.shape = 'bucket') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __shape_2_3()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-0.10626621885135731, 1)) as value FROM trains AS s0 WHERE s0.shape = 'hexagon') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __shape_2_4()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-0.6829544577646974, 1)) as value FROM trains AS s0 WHERE s0.shape = 'u_shaped') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __shape_2()
    RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
    AS $$
    SELECT avg(out.value) as value, out.t0, out.t1
    FROM (SELECT COALESCE(s0.t0,s1.t0,s2.t0,s3.t0,s4.t0) as t0, COALESCE(s0.t1,s1.t1,s2.t1,s3.t1,s4.t1) as t1, tanh(pynelo_sum(pynelo_sum(pynelo_sum(pynelo_sum(COALESCE(s0.value, 0), COALESCE(s1.value, 0)), COALESCE(s2.value, 0)), COALESCE(s3.value, 0)), COALESCE(s4.value, 0))) as value FROM __shape_2_0() as s0 FULL OUTER JOIN __shape_2_1() AS s1 ON s1.t0 = s0.t0 AND s1.t1 = s0.t1 FULL OUTER JOIN __shape_2_2() AS s2 ON s2.t0 = s1.t0 AND s2.t1 = s1.t1 FULL OUTER JOIN __shape_2_3() AS s3 ON s3.t0 = s2.t0 AND s3.t1 = s2.t1 FULL OUTER JOIN __shape_2_4() AS s4 ON s4.t0 = s3.t0 AND s4.t1 = s3.t1) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION shape(p0 TEXT, p1 TEXT) RETURNS Table(value NUMERIC) AS $$
    SELECT out.value FROM __shape_2() as out WHERE out.t0 = p0 AND out.t1 = p1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __length_2_0()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(0.3988951350642791, 1)) as value FROM trains AS s0 WHERE s0.length = 'short') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __length_2_1()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-0.9305892585302085, 1)) as value FROM trains AS s0 WHERE s0.length = 'long') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __length_2()
    RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
    AS $$
    SELECT avg(out.value) as value, out.t0, out.t1
    FROM (SELECT COALESCE(s0.t0,s1.t0) as t0, COALESCE(s0.t1,s1.t1) as t1, tanh(pynelo_sum(COALESCE(s0.value, 0), COALESCE(s1.value, 0))) as value FROM __length_2_0() as s0 FULL OUTER JOIN __length_2_1() AS s1 ON s1.t0 = s0.t0 AND s1.t1 = s0.t1) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION length(p0 TEXT, p1 TEXT) RETURNS Table(value NUMERIC) AS $$
    SELECT out.value FROM __length_2() as out WHERE out.t0 = p0 AND out.t1 = p1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __sides_2_0()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-1.1809737798058957, 1)) as value FROM trains AS s0 WHERE s0.side = 'not_double') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __sides_2_1()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(1.071414645621364, 1)) as value FROM trains AS s0 WHERE s0.side = 'double') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __sides_2()
    RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
    AS $$
    SELECT avg(out.value) as value, out.t0, out.t1
    FROM (SELECT COALESCE(s0.t0,s1.t0) as t0, COALESCE(s0.t1,s1.t1) as t1, tanh(pynelo_sum(COALESCE(s0.value, 0), COALESCE(s1.value, 0))) as value FROM __sides_2_0() as s0 FULL OUTER JOIN __sides_2_1() AS s1 ON s1.t0 = s0.t0 AND s1.t1 = s0.t1) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION sides(p0 TEXT, p1 TEXT) RETURNS Table(value NUMERIC) AS $$
    SELECT out.value FROM __sides_2() as out WHERE out.t0 = p0 AND out.t1 = p1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __roof_2_0()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(0.6925692393773327, 1)) as value FROM trains AS s0 WHERE s0.roof = 'jagged') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __roof_2_1()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-0.24027386412086651, 1)) as value FROM trains AS s0 WHERE s0.roof = 'arc') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __roof_2_2()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(0.10147826943505905, 1)) as value FROM trains AS s0 WHERE s0.roof = 'none') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __roof_2_3()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-0.1416388158471838, 1)) as value FROM trains AS s0 WHERE s0.roof = 'flat') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __roof_2_4()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-0.06568086821405271, 1)) as value FROM trains AS s0 WHERE s0.roof = 'peaked') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __roof_2()
    RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
    AS $$
    SELECT avg(out.value) as value, out.t0, out.t1
    FROM (SELECT COALESCE(s0.t0,s1.t0,s2.t0,s3.t0,s4.t0) as t0, COALESCE(s0.t1,s1.t1,s2.t1,s3.t1,s4.t1) as t1, tanh(pynelo_sum(pynelo_sum(pynelo_sum(pynelo_sum(COALESCE(s0.value, 0), COALESCE(s1.value, 0)), COALESCE(s2.value, 0)), COALESCE(s3.value, 0)), COALESCE(s4.value, 0))) as value FROM __roof_2_0() as s0 FULL OUTER JOIN __roof_2_1() AS s1 ON s1.t0 = s0.t0 AND s1.t1 = s0.t1 FULL OUTER JOIN __roof_2_2() AS s2 ON s2.t0 = s1.t0 AND s2.t1 = s1.t1 FULL OUTER JOIN __roof_2_3() AS s3 ON s3.t0 = s2.t0 AND s3.t1 = s2.t1 FULL OUTER JOIN __roof_2_4() AS s4 ON s4.t0 = s3.t0 AND s4.t1 = s3.t1) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION roof(p0 TEXT, p1 TEXT) RETURNS Table(value NUMERIC) AS $$
    SELECT out.value FROM __roof_2() as out WHERE out.t0 = p0 AND out.t1 = p1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __wheels_2_0()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-0.6247978602102919, 1)) as value FROM trains AS s0 WHERE s0.wheels = '2') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __wheels_2_1()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(0.9374449474914152, 1)) as value FROM trains AS s0 WHERE s0.wheels = '3') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __wheels_2()
    RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
    AS $$
    SELECT avg(out.value) as value, out.t0, out.t1
    FROM (SELECT COALESCE(s0.t0,s1.t0) as t0, COALESCE(s0.t1,s1.t1) as t1, tanh(pynelo_sum(COALESCE(s0.value, 0), COALESCE(s1.value, 0))) as value FROM __wheels_2_0() as s0 FULL OUTER JOIN __wheels_2_1() AS s1 ON s1.t0 = s0.t0 AND s1.t1 = s0.t1) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION wheels(p0 TEXT, p1 TEXT) RETURNS Table(value NUMERIC) AS $$
    SELECT out.value FROM __wheels_2() as out WHERE out.t0 = p0 AND out.t1 = p1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __loadnum_2_0()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(1.074193711855829, 1)) as value FROM trains AS s0 WHERE s0.loadnum = '0') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __loadnum_2_1()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(1.370764939103364, 1)) as value FROM trains AS s0 WHERE s0.loadnum = '1') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __loadnum_2_2()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(1.69870896203207, 1)) as value FROM trains AS s0 WHERE s0.loadnum = '2') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __loadnum_2_3()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-1.4412523501880858, 1)) as value FROM trains AS s0 WHERE s0.loadnum = '3') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __loadnum_2()
    RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
    AS $$
    SELECT avg(out.value) as value, out.t0, out.t1
    FROM (SELECT COALESCE(s0.t0,s1.t0,s2.t0,s3.t0) as t0, COALESCE(s0.t1,s1.t1,s2.t1,s3.t1) as t1, tanh(pynelo_sum(pynelo_sum(pynelo_sum(COALESCE(s0.value, 0), COALESCE(s1.value, 0)), COALESCE(s2.value, 0)), COALESCE(s3.value, 0))) as value FROM __loadnum_2_0() as s0 FULL OUTER JOIN __loadnum_2_1() AS s1 ON s1.t0 = s0.t0 AND s1.t1 = s0.t1 FULL OUTER JOIN __loadnum_2_2() AS s2 ON s2.t0 = s1.t0 AND s2.t1 = s1.t1 FULL OUTER JOIN __loadnum_2_3() AS s3 ON s3.t0 = s2.t0 AND s3.t1 = s2.t1) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION loadnum(p0 TEXT, p1 TEXT) RETURNS Table(value NUMERIC) AS $$
    SELECT out.value FROM __loadnum_2() as out WHERE out.t0 = p0 AND out.t1 = p1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __loadshape_2_0()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-0.547361332478954, 1)) as value FROM trains AS s0 WHERE s0.loadshape = 'hexagon') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __loadshape_2_1()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(1.5309364483379353, 1)) as value FROM trains AS s0 WHERE s0.loadshape = 'triangle') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __loadshape_2_2()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(0.6905734804411958, 1)) as value FROM trains AS s0 WHERE s0.loadshape = 'diamond') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __loadshape_2_3()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-1.2688076395494, 1)) as value FROM trains AS s0 WHERE s0.loadshape = 'rectangle') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __loadshape_2_4()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.id AS t0, s0.pos AS t1, tanh(pynelo_mul(-0.26860180945879514, 1)) as value FROM trains AS s0 WHERE s0.loadshape = 'circle') AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __loadshape_2()
    RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
    AS $$
    SELECT avg(out.value) as value, out.t0, out.t1
    FROM (SELECT COALESCE(s0.t0,s1.t0,s2.t0,s3.t0,s4.t0) as t0, COALESCE(s0.t1,s1.t1,s2.t1,s3.t1,s4.t1) as t1, tanh(pynelo_sum(pynelo_sum(pynelo_sum(pynelo_sum(COALESCE(s0.value, 0), COALESCE(s1.value, 0)), COALESCE(s2.value, 0)), COALESCE(s3.value, 0)), COALESCE(s4.value, 0))) as value FROM __loadshape_2_0() as s0 FULL OUTER JOIN __loadshape_2_1() AS s1 ON s1.t0 = s0.t0 AND s1.t1 = s0.t1 FULL OUTER JOIN __loadshape_2_2() AS s2 ON s2.t0 = s1.t0 AND s2.t1 = s1.t1 FULL OUTER JOIN __loadshape_2_3() AS s3 ON s3.t0 = s2.t0 AND s3.t1 = s2.t1 FULL OUTER JOIN __loadshape_2_4() AS s4 ON s4.t0 = s3.t0 AND s4.t1 = s3.t1) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION loadshape(p0 TEXT, p1 TEXT) RETURNS Table(value NUMERIC) AS $$
    SELECT out.value FROM __loadshape_2() as out WHERE out.t0 = p0 AND out.t1 = p1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __vagon_2_0()
RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0, out.t1 as t1
    FROM (SELECT s0.t0 AS t0, s0.t1 AS t1, tanh(pynelo_sum(pynelo_sum(pynelo_sum(pynelo_sum(pynelo_sum(pynelo_sum(pynelo_mul(-1.1278735935240185, s0.value), pynelo_mul(-0.5530739827537458, s1.value)), pynelo_mul(-1.2922693028036312, s2.value)), pynelo_mul(0.23193445464709875, s3.value)), pynelo_mul(2.2450352929137725, s4.value)), pynelo_mul(1.8401565616086082, s5.value)), pynelo_mul(0.03268161666733043, s6.value))) as value FROM __shape_2() AS s0 INNER JOIN __length_2() AS s1 ON s1.t0 = s0.t0 AND s1.t1 = s0.t1 INNER JOIN __sides_2() AS s2 ON s2.t0 = s0.t0 AND s2.t1 = s0.t1 INNER JOIN __wheels_2() AS s3 ON s3.t0 = s0.t0 AND s3.t1 = s0.t1 INNER JOIN __loadnum_2() AS s4 ON s4.t0 = s0.t0 AND s4.t1 = s0.t1 INNER JOIN __loadshape_2() AS s5 ON s5.t0 = s0.t0 AND s5.t1 = s0.t1 INNER JOIN __roof_2() AS s6 ON s6.t0 = s0.t0 AND s6.t1 = s0.t1) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __vagon_2()
    RETURNS Table(value NUMERIC, t0 TEXT, t1 TEXT)
    AS $$
    SELECT avg(out.value) as value, out.t0, out.t1
    FROM (SELECT COALESCE(s0.t0) as t0, COALESCE(s0.t1) as t1, tanh(COALESCE(s0.value, 0)) as value FROM __vagon_2_0() as s0) AS out GROUP BY out.t0, out.t1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION vagon(p0 TEXT, p1 TEXT) RETURNS Table(value NUMERIC) AS $$
    SELECT out.value FROM __vagon_2() as out WHERE out.t0 = p0 AND out.t1 = p1
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __train_1_0()
RETURNS Table(value NUMERIC, t0 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0
    FROM (SELECT s0.t0 AS t0, tanh(pynelo_mul(-1.8333829923428626, s0.value)) as value FROM __vagon_2() AS s0 WHERE s0.t1 = '1') AS out GROUP BY out.t0
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __train_1_1()
RETURNS Table(value NUMERIC, t0 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0
    FROM (SELECT s0.t0 AS t0, tanh(pynelo_mul(0.8520035939031408, s0.value)) as value FROM __vagon_2() AS s0 WHERE s0.t1 = '2') AS out GROUP BY out.t0
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __train_1_2()
RETURNS Table(value NUMERIC, t0 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0
    FROM (SELECT s0.t0 AS t0, tanh(pynelo_mul(2.526664336587573, s0.value)) as value FROM __vagon_2() AS s0 WHERE s0.t1 = '3') AS out GROUP BY out.t0
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __train_1_3()
RETURNS Table(value NUMERIC, t0 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0
    FROM (SELECT s0.t0 AS t0, tanh(pynelo_mul(-0.6456155517884054, s0.value)) as value FROM __vagon_2() AS s0 WHERE s0.t1 = '4') AS out GROUP BY out.t0
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __train_1()
    RETURNS Table(value NUMERIC, t0 TEXT)
    AS $$
    SELECT avg(out.value) as value, out.t0
    FROM (SELECT COALESCE(s0.t0,s1.t0,s2.t0,s3.t0) as t0, tanh(pynelo_sum(pynelo_sum(pynelo_sum(COALESCE(s0.value, 0), COALESCE(s1.value, 0)), COALESCE(s2.value, 0)), COALESCE(s3.value, 0))) as value FROM __train_1_0() as s0 FULL OUTER JOIN __train_1_1() AS s1 ON s1.t0 = s0.t0 FULL OUTER JOIN __train_1_2() AS s2 ON s2.t0 = s1.t0 FULL OUTER JOIN __train_1_3() AS s3 ON s3.t0 = s2.t0) AS out GROUP BY out.t0
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION train(p0 TEXT) RETURNS Table(value NUMERIC) AS $$
    SELECT out.value FROM __train_1() as out WHERE out.t0 = p0
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __direction_1_0()
RETURNS Table(value NUMERIC, t0 TEXT)
AS $$
    SELECT avg(out.value) as value, out.t0 as t0
    FROM (SELECT s0.t0 AS t0, tanh(pynelo_mul(4.124333731618771, s0.value)) as value FROM __train_1() AS s0) AS out GROUP BY out.t0
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION __direction_1()
    RETURNS Table(value NUMERIC, t0 TEXT)
    AS $$
    SELECT avg(out.value) as value, out.t0
    FROM (SELECT COALESCE(s0.t0) as t0, tanh(COALESCE(s0.value, 0)) as value FROM __direction_1_0() as s0) AS out GROUP BY out.t0
$$ LANGUAGE SQL STABLE;
CREATE OR REPLACE FUNCTION direction(p0 TEXT) RETURNS Table(value NUMERIC) AS $$
    SELECT out.value FROM __direction_1() as out WHERE out.t0 = p0
$$ LANGUAGE SQL STABLE;